.container{
  margin: 5px;
}

.curso {
  /* float: left; */
  display: inline-block;
  vertical-align: top;
  font-family: Verdana, sans-serif;
  border: solid 1px #CCC;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  height: 300px;
  width: 300px;
  margin: 10px 20px;
  padding: 5px;
  cursor: pointer;
}

.cursoimg {
  width: 100%;
  max-height: 50%;
}

.cursoinfo {
  padding: 10px;
  height: 90px;
  overflow: hidden;
}

.cursoinfoh4 {
  font-size: 1.4em;
  font-weight: 100;
  margin: 0px;
}

.cursopreco {
  float: right;
  padding: 10px;
}

.precode {
  text-decoration: line-through;
  color: firebrick;
}

.precopor {
  color: green;
  font-weight: bold;
  font-size: 1.4em;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.card {
  /* float: left; */
  
  display: inline-block;
  vertical-align: top;
  font-family: Verdana, sans-serif;
  border: solid 1px #CCC;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  height: 400px;
  width: 400px;
  margin: 10px;
  padding: 5px;

}

.cardLeft {
  /* float: left; */
  flex: 2;
  vertical-align: top;
  font-family: Verdana, sans-serif;
  padding: 10px;
  height: 400px;
  overflow: hidden;

}